{
  "jsonrpc": "2.0",
  "method": "trigger.create",
  "params": [
    {
      "description": "Chatapp server down",
      "expression": "last(/chatapp/web.test.fail[chatapp backend])>0",
      "priority": "4"
    },
    {
      "description": "Chatapp server response not 200",
      "expression": "last(/chatapp/web.test.rspcode[chatapp backend,http status])<>200",
      "priority": "4"
    }
  ],
  "auth": "{{ zabbix_token }}",
  "id": 1
}
