{
  "jsonrpc": "2.0",
  "method": "hostgroup.get",
  "params": {
    "output": [
      "groupid"
    ],
    "filter": {
      "name": [
        "Templates/Applications"
      ]
    }
  },
  "auth": "{{ zabbix_token }}",
  "id": 1
}
