{
  "jsonrpc": "2.0",
  "method": "trigger.create",
  "params": [
    {
      "description": "{{ zabbix_host_name }} not responding",
      "expression": "last(/chatapp/web.test.fail[{{ zabbix_host_name }}])>0",
      "priority": "4"
    },
    {
      "description": "{{ zabbix_host_name }} response not 200",
      "expression": "last(/chatapp/web.test.rspcode[{{ zabbix_host_name }},http status])<>200",
      "priority": "4"
    }
  ],
  "auth": "{{ zabbix_auth_token }}",
  "id": 1
}
