{
  "jsonrpc": "2.0",
  "method": "trigger.create",
  "params": [
    {
      "description": "{{ ZABBIX_HOST_NAME }} not responding",
      "expression": "last(/{{ ZABBIX_HOST_NAME }}/web.test.fail[{{ ZABBIX_HOST_NAME }}])>0",
      "priority": "4"
    },
    {
      "description": "{{ ZABBIX_HOST_NAME }} response not 200",
      "expression": "last(/{{ ZABBIX_HOST_NAME }}/web.test.rspcode[{{ ZABBIX_HOST_NAME }},http status])<>200",
      "priority": "4"
    }
  ],
  "auth": "{{ zabbix_auth_token }}",
  "id": 1
}
