{
  "jsonrpc": "2.0",
  "method": "httptest.create",
  "params": {
    "name": "{{ zabbix_host_name }}",
    "hostid": "{{ host_id }}",
    "delay": "20",
    "steps": [
      {
        "name": "http status",
        "url": "http://192.168.8.202:8080/status",
        "status_codes": "200",
        "no": "1"
      }
    ]
  },
  "auth": "{{ zabbix_auth_token }}",
  "id": 1
}
