{
  "jsonrpc": "2.0",
  "method": "host.create",
  "params": {
    "host": "{{ ZABBIX_HOST_NAME }}",
    "groups": [
      {
        "groupid": "{{ host_group_id }}"
      }
    ]
  },
  "auth": "{{ zabbix_auth_token }}",
  "id": 1
}
